<html>
    <body>
        <center>
            <h1> Bank Churn Prediction Model </h1>
            <hr><hr>
            <br><br><br><br><br><br>
            <h3> Please Enter your data here </h3>
            
            <form action = "/predict" method="post">
                <b>CreditScore:</b><input type='text' name='creditscore'> - a value b/w 300 to 900 <br>
                <b>Geography:</b><input type='text' name='geo'> - France, Germany, Spain <br>
                <b>Gender:</b><input type='text' name='gender'> - Male, Female <br>
                <b>Age:</b><input type='text' name='age'> <br>
                <b>Balance:</b><input type='text' name='bal'> <br>
                <b>Number of Products: </b><input type='text' name='prods'><br>
                <b>Is Active Member: </b><input type='text' name='active'> - 0 OR 1<br> <br>
                <input type="submit"> <br>
            </form>
            <br><br><br>
            <hr>Desidgned by BootUP<hr>
        </center>
    </body>
</html>

            